.weapon-item {
  display: grid;
  grid-template-columns: 23% 10% 10% 12% 45%;
  color: rgb(212, 198, 198);
  padding: 8px;
  border: 1px solid #bea4a4;
  font-size: 14px;
  background-color: rgb(56, 51, 51);

  div {
    display: grid;
    align-items: center;
    padding: 5px;
  }

  .weapon-name-container,
  .weapon-rarity-container {
    display: flex;
    flex-direction: column;
    align-self: center;

    .weapon-img {
      width: 110px;
      height: 110px;
      margin: 0 auto;
    }

    .weapon-name {
      margin-top: 4px;
    }
  }
}
