.character-title-preview{
  display: flex;
  justify-content: center;
  margin-bottom: 4px;

  .vision-src {
    width: 35px;
    height: 35px;
    align-self: center;
  }

  .title {
    font-size: 16px;
    margin-left: 5px;

    &.title-pyro {
      color: #d96462;
    }

    &.title-cryo {
      color: #42bfdd;
    }

    &.title-electro {
      color: #cb4dd5;
    }

    &.title-hydro {
      color: #4073d7;
    }

    &.title-anemo {
      color: #00cd81;
    }

    &.title-geo {
      color: #d9ab42;
    }
  }
}